/*---------------
BACKGROUND IMG 
---------------*/
@mixin bg-img($url) {
    background-image: url($url);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
